<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <h1><% include ./partials/_header %></h1>
  <a href = "http://localhost:8080/urls/new" >Create New TinyUrl</a>
</head>
<body style="font-size:20px; padding:50px;">
    <h2>My URLs</h2>
    <ul>
       <% for (element in  urls){ %>
              <li><%= element %> <%= urls[element] %>

                  <form method="POST" action="/urls/<%= element %>/delete">
                    <a href = "http://localhost:8080/urls/<%= element %>"> Edit </a>
                    <button type ="submit">Delete</button>
                  </form>
              </li>

        <%  } %>
    </ul>
</body>
</html>

